Body {
    background-color: rgb(48, 48, 43);
    margin:0;
    padding: 20;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans
}
.d1 {
    background-color: aqua;
}