Body {
    margin: 0;
    padding: 0;
    background-color: rgb(206, 228, 224);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}

#navbar {
    background-color: rgba(109, 200, 216, 0.849);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#robô {
    width: 200px;
    height: 200px;
    justify-content: left;
}
